.square {
    width: 200px;
    height: 200px;
    font-size: 90px;
    border-radius: 20px;
    border: solid 5px #000000;
    margin: 10px;
    transition: 1s;
}
.board-row {
    display: flex;  
}
.main-board {
    display: block;
    justify-items: center;
    margin: 100px;
}

#X {
    background-image: url('images/X.png');
    background-size: 280px;
    background-position: center;
}
#O {
    background-image: url('images/O.png');
    background-size: 320px;
    background-position: center;
}
