.square {
    width: 200px;
    height: 200px;
    font-size: 90px;
    border-radius: 20px;
    border: solid 5px #000000;
    margin: 10px;
}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .pulse {
    animation: pulse 0.5s ease-in-out;
  }
.board-row {
    display: flex;  
}
.main-board {
    display: block;
    justify-items: center;
    margin: 100px;
}

#X {
    background-image: url('images/X.png');
    background-size: 280px;
    background-position: center;
}
#O {
    background-image: url('images/O.png');
    background-size: 320px;
    background-position: center;
}

body {
    background-color: skyblue;
}

.status {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.game-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10; /* Ensures it's above other elements */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a slight background to make it stand out */
    max-width: 300px; /* Optional: Limits width for the move list */
    overflow-y: auto; /* Optional: Allows scrolling if the moves list becomes long */
    max-height: 100vh; /* Optional: Prevents it from going off-screen */
  }
  
  .game-info button {
    margin: 5px;
  }